.nucleus{
    margin-top: 2rem;
}

.nucleus__contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

@media (min-width:960px){
    .nucleus__contenedor{
        width: 75%;
    }
}

.nucleus__heading{
    text-align: center;
    font-size: 3.25rem;
    margin: 1.5rem;
}

.nucleus__grid{
    display: grid;
    grid-template-rows:  1fr 1.5fr;
}

@media (min-width: 768px){
    .nucleus__grid{
        grid-template-rows: unset;
        grid-template-columns: 1fr 2fr;
        gap: 5rem;
    }
}
.nucleus__imagen{
    grid-row: 2/3;
}

.listado{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
}

.listado__elemento{
    padding: 1rem;
    margin:  2rem 0;
    height: auto;
    box-shadow: 0px 0px 15px 5px rgba(0 0 0 /.15);
    transition-property: transform;
    transition-duration: .3s;
    transition-delay: .1s;
}

.listado__elemento:hover{
    transform: scale(1.075);
}

.listado__heading{
    color: var(--primario);
    margin: 0;
    font-size: 2.2rem;
}

.listado__texto{
    line-height: 1.5;
    margin: 0.5rem;
}



@media (min-width: 768px){
    .nucleus__imagen{
        grid-row: unset;
    }

    .listado{
        grid-row: unset;
        justify-content: center;
    }
}