.seguridad{
    background-color: var(--primario);
    padding: 10rem 0;
    position: relative;
    margin-top: 5rem;
    overflow: hidden;
}

.seguridad::before,
.seguridad::after{
    background-color: var(--blanco);
    content: "";
    height: 10rem;
    width: 100%;
    position: absolute;
}

.seguridad::before{
    top: -6rem;
    left: 0;
    transform: rotate(5deg) scale(1.1);
    
}
.seguridad::after{
    bottom: -6rem;
    left: 0;
    transform: rotate(5deg) scale(1.1);
}

@media (min-width: 768px){
    .seguridad::before{
        transform: rotate(3deg) scale(1.1);
        
    }
    .seguridad::after{
        transform: rotate(3deg) scale(1.1);
    }
    
}

.seguridad__contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
    
}

@media (min-width:960px){
    .seguridad__contenedor{
        width: 75%;
    }
}

.seguridad__heading{
    text-align: center;
    color: var(--blanco);
    line-height: 1.4;
    font-size: 2.6rem;
    font-weight: 900;
}

@media (min-width: 768px){
    .seguridad__heading{
        font-size: 3.2rem;
    }
}

.seguridad__grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
}

@media (min-width: 768px){
    .seguridad__heading{
    text-align: center;
    color: var(--blanco);
    line-height: 1.4;
    font-size: 2.6rem;
    font-weight: 900;
}

@media (min-width: 768px){
    .seguridad__heading{
        font-size: 3.2rem;
    }
}

.seguridad__grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
}

@media (min-width: 768px){
    .seguridad__grid{
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* CSS de listado*/
.listado{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
}

.listado__elemento{
    padding: 1rem;
    margin:  2rem 0;
    height: auto;
    box-shadow: 0px 0px 15px 5px rgba(255 255 255 /.15);
    transition-property: transform;
    transition-duration: .3s;
    transition-delay: .1s;
    background-color: var(--blanco);
}

.listado__elemento:hover{
    transform: scale(1.075);
}

.listado__texto{
    line-height: 1.5;
    margin: 0.5rem;
}

@media (min-width: 768px){
    .listado{
        grid-row: unset;
        justify-content: center;
    }
}__grid{
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* CSS de listado*/
.listado{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
}

.listado__elemento{
    padding: 1rem;
    margin:  2rem 0;
    height: auto;
    box-shadow: 0px 0px 15px 5px rgba(255 255 255 /.15);
    transition-property: transform;
    transition-duration: .3s;
    transition-delay: .1s;
    background-color: var(--blanco);
}

.listado__elemento:hover{
    transform: scale(1.075);
}

.listado__texto{
    line-height: 1.5;
    margin: 0.5rem;
}

@media (min-width: 768px){
    .listado{
        grid-row: unset;
        justify-content: center;
    }
}