<section class="seguridad">
    <div class="seguridad__contenedor">
        <h2 class="seguridad__heading">Nucleus es seguro</h2>
        <div class="seguridad__grid">
            <div class="listado" >
                <div class="listado__elemento" *ngFor="let a of listP; index as i ">
                    <p class="listado__texto">{{a}}</p>
                </div>
            </div>
            <div class="seguridad__imagen">
                <img src="../../../assets/img/seguridad.png" alt="nucleus seguridad">
            </div>
        </div>
    </div>
</section>