<header class="header">
    <div class="header__contenedor">
        <div class="header__barra">
            <div class="header__logo">
                <img src="../../../assets/img/logo.svg" alt="logo nucleus">
            </div>
            <nav class="navegacion">
                <a href="#" class="navegacion__link">¿Que es?</a>
                <a href="#" class="navegacion__link">¿Como funciona?</a>
                <a href="#" class="navegacion__link">Precios</a>
                <a href="#" class="navegacion__link">Contratar</a>
            </nav>
            
        </div>
        <div class="header__grid">
            <div class="header__texto">
                <h1 class="header__heading">Recibe y realiza pagos desde tu ceclular on nucleus</h1>
                <a href="#" class="header__btn">Crear cuenta</a>
            </div>

            <div class="header__grafico">
                <img class="header__imagen" alt="Imagen nucleus" src="../../../assets/img/app_1.svg">
            </div>
        </div>
    </div>
</header>