<footer class="footer">
    <div class="footer__contenedor">
        <div class="footer__grid">
            <div class="footer__logo">
                <img src="../../../assets/img/logo-blanco.svg" alt="logo blanco">
            </div>
            <nav class="navegacion">
                <a href="#" class="navegacion__link">¿Que es?</a>
                <a href="#" class="navegacion__link">¿Como funciona?</a>
                <a href="#" class="navegacion__link">Precios</a>
                <a href="#" class="navegacion__link">Contratar</a>
            </nav>
        </div>
    </div>
</footer>